[all:vars]
ansible_become_password=Lapalma1

[defaults]
inventory = ./syshosts
host_key_checking = false
timeout = 5
interpreter_python = auto_silent
become = true
#remote_user = stefanadmin
#ask_pass = true
